{% extends "base.html" %}

{% block title %}Accueil - Gestion des Véhicules{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4" style="background-color: white; color: black; border: 1px solid rgb(255, 255, 255); padding: 10px;">Bienvenue dans l'application de gestion des véhicules</h1>
    
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Collaborateurs</h5>
                    <p class="card-text">Gérer les collaborateurs.</p>
                    <a href="{{ url_for('index_collaborateurs') }}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
